@import "tailwindcss";

@theme{
     --color-orange-65: #FF8D4C;
    --color-orange-70: #FF9E66;
    --color-orange-75: #FFAE80;
    --color-orange-80: #FFBF99;
    --color-orange-90: #FFDECC; 
    --color-orange-95: #FFEFE5;
    --color-orange-97: #FFF5F0;
    --color-orange-99: #FFFCFA;

    --color-gray-10: #1A1A1A;
    --color-gray-15: #262626;
    --color-gray-20: #333333;
    --color-gray-30: #4C4C4C;
    --color-gray-40: #666666;
    --color-gray-50: #808080; 

    --font-outfit: var(--font-outfit);
    --font-inter: var(--font-inter);
    --font-poppins: var(--font-poppins);
    --font-raleway: var(--font-raleway);

}

html {
  font-family: var(--font-outfit), sans-serif;
}

.nav_link{
    @apply px-4 p-3 block relative after:absolute after:content-[''] after:w-full after:h-full after:bg-orange-90 after:left-0 after:bottom-0 after:opacity-0 hover:after:opacity-80 after:transition after:duration-200 after:-z-10
}

.section{
  @apply mt-6 py-4 relative 
}

.section_wrapper{
    @apply w-[90%] mx-auto;
}